{{ define "products_scroll_fragment" }}
	{{ $productsLen := len .Products }}
	{{ $lastProduct := index .Products (add $productsLen -1) }}
	{{ $category := .Category }}
	{{ range $index, $product := .Products }}
		<div
			class="group"
			{{ if eq $index (add $productsLen -10) }}
				hx-get="/api/products?cursor={{ $lastProduct.ID }}{{ if $category }}
					&category={{ $category }}
				{{ end }}"
				hx-trigger="revealed" hx-swap="beforeend" hx-target="#products-grid" hx-push-url="false"
				hx-history="false"
			{{ end }}
		>
			{{ template "product_card_grid" (dict "Product" $product "Priority" false) }}
		</div>
	{{ end }}
{{ end }}
